.profile {
    margin: 0 0 51px 0;
    display: flex;
    align-items: center;
}

@media screen and (max-width:750px) {
    .profile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:320px) {
    .profile {
        margin: 0 0 36px 0;
        display: block;
    }
}