.popup__input-name {
    max-width: 358px;
    margin: 54px 0 0 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
    outline: none;
    padding: 0 0 9px 0;
}

@media screen and (max-width:520px) {
    .popup__input-name {
        margin: 75px 0 0 0;
    }
}

/* @media screen and (max-width:320px) {} */