@import url(../vendor/fonts/inter.css);
@import url(../vendor/normalize.css);
@import url(../blocks/body/body.css);
@import url(../blocks/wrapper/wrapper.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__add-card/profile__add-card.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__about/element__about.css);
@import url(../blocks/element/__button/element__button.css);
@import url(../blocks/element/__button/_button-avtive/element_button-avtive.css);
@import url(../blocks/element/__title/element__titile.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/footer__text/footer__text.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__text/popup__text.css);
@import url(../blocks/popup/__input-name/popup__input-name.css);
@import url(../blocks/popup/__input-job/popup__input-job.css);
@import url(../blocks/popup/__submit/popup__submit.css);
@import url(../blocks/popup/__closed/popup__closed.css);
@import url(../blocks/popup/__form/popup__form.css);