.profile__info {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 336px;
}

@media screen and (max-width:700px) {
    .profile__info {
        max-width: 282px;
    }
}

@media screen and (max-width:320px) {
    .profile__info {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 282px;
    }
}