.profile__button {
    background-image: url(../../../image/Vector.svg);
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 15px 0 0 18px;
    padding: 0;
}

.profile__button:hover {
    opacity: 60%;
}

@media screen and (max-width:700px) {
    .profile__button {
        max-width: 18px;
        max-height: 18px;
        margin: 8px 0 0 19px;
    }
}

@media screen and (max-width:320px) {
    .profile__button {
        /* position: absolute;
        top: 8px;
        right: 19px; */
        max-width: 18px;
        max-height: 18px;
        margin: 8px 0 0 19px;
    }
}